body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00FFFF;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow: hidden;
}

.display {
    background-color: #000000;
    color: #ddd;
    font-size: 2em;
    padding: 10px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #ADFF2F;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.9s;
}

.btn:hover {
    background-color: #87CEEB;
}

#clear {
    grid-column: span 4;
    background-color: #FFFF00;
    color: #9370DB;
}

